@model IEnumerable<User_Awards.Models.User>

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users' List</h2>
        </div>
        <div class=" col-6 text-right">
            <a asp-controller="User" asp-action="CreateUser" class="btn btn-primary">Add a new User</a>
        </div>
    </div>
    <br />


    @if(Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <th>
                            User ID
                        </th>
                        <th>
                            First name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Date of birth
                        </th>
                    </thead>
                    <tbody>
                        @foreach(var user in Model)
                {
                        <tr>
                            <td width="20%">@user.UserID</td>
                            <td width="20%">@user.FirstName</td>
                            <td width="20%">@user.LastName</td>
                            <td width="20%">@user.BirthDate.ToShortDateString()</td>
                            <td width="20%">
                                <div class=" w-100 btn-group"role="group">
                                    <a asp-controller="User" asp-action="Update" asp-route-UserID="@user.UserID" class="btn btn-primary mx-1">Update</a>
                                    <a asp-controller="User" asp-action="Delete" asp-route-UserID="@user.UserID" class="btn btn-danger mx-1">Delete</a>
                                </div>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
    }
    else
            {
                <p>No users created yet</p>
            }
</div>

